body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffcc00;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    filter: blur(5);
    flex-wrap: wrap;
}
.filipe {filter: blur(5px);}

.yuto {filter: invert(500%);}

.gustavo {filter: saturate(10000%);}

figure {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(255, 204, 0, 0.5);
    max-width: 600px;
}

figcaption {
    font-size: 14px;
    color: #ffcc00;
    margin-top: 5px;
}


